<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270222508200-1cfutluevf9eggavsdgjuq1kk1h3knhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270222508200-1cfutluevf9eggavsdgjuq1kk1h3knhm</string>
	<key>API_KEY</key>
	<string>AIzaSyBzGJc7TxJ2fUrona12e6hnW305DV1MM_U</string>
	<key>GCM_SENDER_ID</key>
	<string>270222508200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.doctuz</string>
	<key>PROJECT_ID</key>
	<string>doctuz-77471</string>
	<key>STORAGE_BUCKET</key>
	<string>doctuz-77471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270222508200:ios:6f009144d4508fdba3c29d</string>
</dict>
</plist>